@font-face {
  font-family: kenoky;
  src: url('./fonts/KenokyLight.ttf');
}

body {
  font-family: kenoky;
  text-align: justify;
  background-color: #fffff1;
}

input:focus {
  outline: none;
}

h4 {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
}

a {
  color: blue;
}

.button {
  font-family: happy-times;
  font-size: 22px;
  font-weight: normal;
  background: transparent;
  border: 0;
  border-bottom: 2px solid blue;
  cursor: pointer;
  color: blue;
  font-family: kenoky;
  padding: 0;
}

#wordsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 165px;
  padding-top: 20px;
}

#icon3,
#icon1,
#icon2 {
  font-size: 35px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: -6px;
}

#icon2 {
  margin-left: 50px;
}

#icon3 {
  margin-left: 100px;
  color: #fffff1;
}

#episode {
  font-size: 24px;
  margin-left: 175px;
}

.word {
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 50px;
  margin: 5px;
}

.blue {
  background-color: blue;
  color: #fffff1;
}

#info,
#title {
  margin-top: 40px;
  font-size: 22px;
  padding-bottom: 10px;
  margin-left: 175px;
}

.sideModal {
  cursor: pointer;
  color: black;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  width: 30px;
  border-right: 3px solid black;
  background: #fffff1;
  padding: 10px;
}

.sideModal1 {
  z-index: 3;
}

.sideModal2 {
  z-index: 2;
  width: 80px;
  background-color: blue;
}

.sideModal3 {
  color: #fffff1;
  width: 130px;
  background-color: black;
}

#sideModal3Text,
#sideModal1Text,
#sideModal2Text {
  display: none;
  padding: 0 15px 15px;
  margin: 0;
  font-size: 22px;
}
#sideModal2Text {
  padding-left: 65px;
  color: #fffff7;
}

#sideModal3Text {
  color: #fffff1;
  padding-left: 110px;
}

#main {
  transition: margin-left 0.5s;
}

#links {
  display: none;
  padding-left: 15px;
  padding-top: 0;
}
.link {
  margin: 10px;
}
#sideBarTitle {
  font-size: 28px;
}
.episodesList {
  margin-left: 165px;
  font-size: 24px;
  width: 70%;
  font-family: sans-serif;
}

