body {
  padding: 30px;
}

.input {
  border-width: 0px 0px 1px 0px;
}

.titleInput {
  width: 300px;
}

#wordsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  text-align: justify;
}

.episodeName,
.authorsName {
    text-transform: capitalize;
}

.word {
  padding: 10px;
  padding-left: 0;
  cursor: pointer;
}

.red {
  color: red;
}

a {
  color: red;
}

.title {
  margin-top: 10%;
}

@media only screen and (min-width: 768px) {
  .episode {
    max-width: 40%;
  }
}
